aside {
    float: left ;
    width: 30%;
    background: url("../image/as_bg.jpg");
    margin-top: 40%;
}
aside > blockquote:first-letter {
    color: #ff70b6;
    font: 40px/40px 'CaviarDreams', sans-serif;
}
aside > blockquote {
    margin-left: 50px;
}
.quote1{
    margin-left: 20px;
}
.quote2{
    margin-left: 220px;
}
.arrows{
    margin-left: 350px;
}