#wrapper {
    max-width: 960px ;
    margin: auto ;
}
@font-face {
    font-family: 'CaviarDreams';
    src: url(../CaviarDreams.ttf);
    font-style: italic;
    font-weight: normal;
}
body {
    background: url("../image/bg.jpg") no-repeat ;
    size: auto;
    font-family: 'CaviarDreams', sans-serif;
}
header {
    background: url("../image/bg.jpg")  ;
    size: auto;
    padding: 20px 0;
}
.logo1 {
    margin-left: 20px;
}
nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    font-size: 14px;
    padding: 10px;
}

.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}
#heading {
    margin: 30px 0;
    padding-left: 20px;
}

h2 {
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    font-size: 3.5em;
    color: #ffffff;
    text-shadow: 0 1px 0 rgb(34, 55, 60);
    line-height: 1.2em;
}
section {
    margin-right: 100px;
    float: right;
    background: url("../image/as_bg.jpg");
    margin-top: 550px;
}
/**
footer {
    list-style-position: inside;
    display: inline-block;
    background: url(../image/ftr_bg.png);
}
.f_nav{
    margin-top: 8%;
}
.f_nav li a{
    color: #ffffff;
    font-size:0.8725em;
    line-height: 1.8em;
}
.f_nav li a:hover{
    color: rgb(241, 241, 241);
}
**/